/* Contact.css */
.contact-container {
    background-color: #efefef;
    padding: 0;
}

.contact-container .navbar {
    background-color: #000000;
}
.contact-header {
    text-align: center;
    padding: 20px 0;
    margin-top: 10vh;
}

.contact-title {
    font-size: 24px;
    color: #333;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
    background-color: #2c2828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.contact-form > .form-group {
    margin-bottom: 20px;
    color: #fff;
}

.contact-form > .form-group> .form-label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}

.contact-form > .form-group> .form-input,
.contact-form > .form-group> .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.contact-form > .form-group textarea{
    padding: 10px !important;
    background: bottom;
    color: #efefef;
}

.contact-form .submit-button {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    transition: background-color 0.3s ease;
    margin-left: 30%;
}

.contact-form  .submit-button:hover {
    background-color: #dcb1b1;

}



.contact-form > .form-group> .form-input:focus, 
.contact-form > .form-group> .form-textarea:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
}


.contact-form > .form-group> .form-textarea {
    min-height: 150px; 
    resize: vertical; 
    background-color: #4a4646; 
    color: #efefef;
}

.contact-form .submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(220,177,177,0.5);
}


.contact-form .form-input, 
.contact-form .form-textarea {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
