/* CSS for HomePage */
.home{
    background-color: #F8F0E3;
}
  
  .album-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 80vh;
  }
  
  /* Scroll-snap elements */
  .album-card {
    scroll-snap-align: start;
  }
  